*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    font-family: "Roboto", sans-serif;
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 0.5fr;
    height:100vh;
    width:100vw;
}
.header{
    background-color: coral;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    
}
h1{
    font-size: 50px;
}
button{
        border-radius: 10px;
        width: 160px;
        height: 32px;
        border: none;

}
.content{
    background-color: rgb(253, 169, 139);
    display: grid;
    grid-template-columns: repeat(5, 250px) ;
    grid-template-rows: repeat(3, 150px) ;
    gap: 15px;
    scrollbar-width: none;
    
}
.footer{
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center


}
form{
    position: fixed;
    background-color: rgb(207, 133, 81);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
    legend{
        font-size: 30px;
    
    }

}
input{
    border-radius: 10px;
    border: none;
    width: 400px;
    height: 30px;

}
.book{
    background-color: rgb(156, 139, 253);
    width: 1fr;
    height: 1fr;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: inherit;
    :hover{
        background-color: lightskyblue;
    }

}